
node_modules/

# environment vars
.env

# Build output
dist/
build/
dist-ssr
*.local

# Vite / Parcel cache
.vite/
.parcel-cache/

# Frontend-specific directories
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.vite/
/frontend/.parcel-cache/
/frontend/.DS_Store

# Cache / compressed files
*.cache
*.gz
*.br
