
node_modules

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log
logs
*.log


.git
.gitignore

Dockerfile
docker-compose.yml

.DS_Store
Thumbs.db
*.swp

# Build / temp artifacts
dist
build
coverage
tmp
.cache

uploads
public/uploads
